<div class="jumbotron">
	<h1>Pagina de inicio</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aliquam deleniti debitis nihil molestiae velit hic possimus exercitationem neque, sapiente nulla temporibus aliquid, adipisci quis numquam laborum reprehenderit repellat fugit.</p>
</div>

<h1>Franisco Javier García Mello</h1>
<br>
<h1>Formulario</h1>
<p> <%=	flash[:notice]%></p>
<form action="<%= pages_guardar_path %>" method="POST">
	<%= hidden_field_tag :authenticity_token,
		form_authenticity_token %>
	<label>Nombre</label>
	<input type="input" name="nombre">
	<br>
	<label>Email</label>
	<input type="input" name="email">
	<br>
	<label> Edad</label>
	<input type="input" name="edad">
	<br>
	<input type="submit" name="enviar">	


</form>